{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>Days of Law Career 2019</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="m6qScjJ33HFZT-ggs-qNnws56T2mI-2jxautyezVlyY" />
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/home-script.js'%}"></script>
</head>
<body>
	<nav class="l-nav--main-page">
		{% include 'reusable-pages/navbar.html' %}
	</nav>
	<section class="l-page js-animation">
        <div class="l-front-section l-col--center js-front-section js-animation">
			<div class="l-front-section__caption">
				<h1 class="c-front-section__title js-front-section__title js-animation">
						Days of<br/>
						Law<br/>
						Career
					</pre>
				</h1>
				<div class="c-front-section__line js-front-section__line js-animation">
				</div>
				<div class="c-front-section__date js-front-section__date js-animation">
					<h3 class="c-front-section__year">
						2019
					</h3>
					<div class="c-front-section__day">
						<h4>Pre-event</h2>
						<h5>
							11 - 14 Feb.
						</h5>
					</div>
					<div class="c-front-section__day">
						<h4>Main event</h2>
						<h5>
							18 - 22 Feb.
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="l-about-section l-col--center">
			<div class="l-profile--0">
				<div class="l-profile__picture--0 js-profile__picture js-animation">
					<div class="c-about-section__counter">
						<h1 class="c-page__counter">
							01
						</h1>
					</div>
					<div class="l-profile__rectangle-art--0 js-profile__rectangle-art js-animation">
					</div>
					<div class="c-profile__image--0 c-about-section__image js-profile__image js-animation">
					</div>
				</div>
				<div class="l-profile__content--0 js-profile__content js-animation">
					<div class="l-profile__title">
						<div class="l-profile__circle-art--0 js-profile__circle-art js-animation">
							<div class="l-circle-art__hor">
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
							</div>
							<div class="l-circle-art__hor">
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
								<div class="c-circle--large"></div>
							</div>
						</div>
						<h2 class="c-profile__title">
							What is DOLC?
						</h2>
					</div>
					<p class="c-profile__para">
						Days of Law Career (DOLC) is an annual event, organized by Departemen Pengembangan Karier Badan Eksekutif Mahasiswa Fakultas Hukum Universitas Indonesia, for both law students and alumni to obtain information regarding access to career in the legal sector and also to help with the correct selection of profession in accordance with their talents and expertise. This event will feature a job fair...
					</p>
					<a class="c-read-more" href="{% url 'about:dolc' %}">
						<div class="c-read-more__circle-art">
							<div class="c-circle--medium js-animation"></div>
							<div class="c-circle--medium js-animation"></div>
							<div class="c-circle--medium js-animation"></div>
						</div>
						<div class="c-read-more__label js-animation">
							Read more
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="l-register-section js-register-section js-animation">
			<div class="l-register-section__left js-register-section__left js-animation">
				<div class="l-register-section__content">
					<h1 class="c-page__counter c-register-section__counter">
						02
					</h1>
					<h2 class="c-register-section__title js-register-section__title js-animation">
						HAVEN'T REGISTERED YET?
					</h2>
					<div class="l-register-section__para js-register-section__para js-animation">
						<p>
						</p>
						<!-- <div class="c-read-more">
							<div class="c-read-more__circle-art">
								<div class="c-circle--medium js-animation"></div>
								<div class="c-circle--medium js-animation"></div>
								<div class="c-circle--medium js-animation"></div>
							</div>
							<div class="c-read-more__label js-animation">
								Read more
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="l-register-section__right l-col--center js-register-section__right js-animation">
				<a class="c-register-section__register-button" href="{% url 'regis:regis' %}">
					<div class="c-register-button-art"></div>
					Register
				</a>
			</div>
		</div>
		<div class="l-testi-section l-col--center">
			<!-- <h1 class="c-page__counter js-page__counter js-animation">
				03
			</h1> -->
			<h1 class="c-testi-section__title js-testi-section__title js-animation">
				<div class="c-testi-section__line-art js-testi-section__line-art js-animation js-animation-delay--0"></div>
				PARTICIPANTS
			</h1>
			<div class="l-testi-section__testi">
			</div>
			<!-- <a class="c-read-more" href="{% url 'parti:parti' %}">
				<div class="c-read-more__circle-art">
					<div class="c-circle--medium js-animation"></div>
					<div class="c-circle--medium js-animation"></div>
					<div class="c-circle--medium js-animation"></div>
				</div>
				<div class="c-read-more__label js-animation">
					See more
				</div>
			</a> -->
		</div>
		<div class="l-spon-media-section l-col--center js-spon-media-section js-animation">
			<div class="l-spon-media-section__spon-media">
				<div class="l-spon-media-section__sponsor js-spon-media-section__sponsor js-animation">
					<h2>SPONSORS</h2>
					<div class="l-spon-media-section__sponsor__content l-row--center">
					</div>
				</div>
				<div class="l-spon-media-section__media js-spon-media-section__media js-animation">
					<h2>MEDIA PARTNERS</h2>
					<div class="l-spon-media-section__media__content l-row--center">
					</div>
				</div>
			</div>
		</div>
		<div class="l-contact-section">
			{% include 'reusable-pages/contact.html' %}
		</div>
    </section>
</body>
</html>