/* front section */
.l-front-section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.l-front-section:before, .l-front-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-front-section:before {
    background-color: #f1f1f1;
    z-index: -2;
}

.l-front-section:after {
    z-index: -1;
    opacity: .1;
    background-image: url("/media/imgs/etc/background-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.js-front-section {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-front-section__logo {
    height: 300px;
    width: 300px;
    background-image: url("/media/icons/logo dolc black.png");
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.c-front-section__logo:hover {
    -webkit-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

.js-front-section__logo {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}

/* team section */
.l-team-section {
    min-height: 100vh;
    width: 100vw;
    padding: 100px 0;
}

.c-team-section__title {
    position: relative;
    margin: 0 0 50px 0;
    font-size: 2.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-team-section__title {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-team-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-team-section__line-art {
    width: 0;
}

.l-team-section__team {
    position: relative;
    height: auto;
    width: auto;
}

.c-team-section__image {
    height: 85vw;
    width: 80vw;
    background-image: url("/media/imgs/etc/Bagan Panitia.png");
    background-size: 80vw auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.js-team-section__image {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
}

.l-team-section__team .c-circle--medium {
    background-color: #d6b780;
}

.c-team-section__circle-art--top {
    position: absolute;
    top: 0;
    left: 0;
}

.c-team-section__circle-art--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 700px) {
    .c-front-section__logo {
        height: 200px;
        width: 200px;
    }
}