/* front section */
.l-front-section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.l-front-section:before, .l-front-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-front-section:before {
    background-color: #f1f1f1;
    z-index: -2;
}

.l-front-section:after {   
    z-index: -1;
    opacity: .1;
    background-image: url("/media/imgs/etc/background-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.js-front-section {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-front-section__logo {
    height: 300px;
    width: 300px;
    background-image: url("/media/icons/logo dolc black.png");
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.c-front-section__logo:hover {
    -webkit-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

.js-front-section__logo {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
    opacity: 0;
}

/* profile section */
.l-profile-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    padding: 100px 50px;
}

@supports not ((display: -ms-grid) or (display: grid)) {
    .l-profile-section__profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    .l-profile-section__profile > div:nth-child(1) {
        width: 100%;
        height: auto; 
    }
    
    .l-profile-section__picture {
        width: calc(2 * 100% / 5);
        min-height: 290px;
    }

    .c-profile-section__para {
        width: calc(3 * 100% / 5 - 50px);
        height: auto;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-profile-section__profile {
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .l-profile-section__profile > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-profile-section__profile > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .l-profile-section__profile > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .l-profile-section__profile > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .l-profile-section__profile > div:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    
    .l-profile-section__picture {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }

    .c-profile-section__para {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
}

.l-profile-section__profile {
    height: 450px;
    width: 600px;
}

.c-profile-section__title {
    position: relative;
    padding: 50px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: glosa;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    color: #d6b780;
}

.js-profile-section__title {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
}

.c-profile-section__line-art {
    position: absolute;
    left: calc(-50vw);
    top: calc(.5em + 50px);
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-profile-section__line-art {
    width: 0;
}

.l-profile-section__picture {
    position: relative;
}

.c-profile-section__image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/media/imgs/etc/background-profile.jpg");
    -webkit-transform-origin: calc(75% + 12px) calc(70% + 12px);
    -ms-transform-origin: calc(75% + 12px) calc(70% + 12px);
    transform-origin: calc(75% + 12px) calc(70% + 12px); 
    transition-delay: .2s;
}

.c-profile-section__image:hover {
    -webkit-transform: scale(1.03, 1.03);
        -ms-transform: scale(1.03, 1.03);
            transform: scale(1.03, 1.03);
}

.js-profile-section__image {
    opacity: 0;
    -webkit-transform: scale(.85, .85);
    -ms-transform: scale(.85, .85);
    transform: scale(.85, .85);
}

.l-profile-section__picture .c-circle--medium {
    background-color: #d6b780;
}

.c-profile-section__circle-art--top {
    position: absolute;
    top: -25px;
}

.c-profile-section__circle-art--bottom {
    position: absolute;
    right: 0;
    bottom: -25px;
}

.c-profile-section__line-art--ver {
    position: absolute;
    top: -30px;
    left: 75%;
    height: calc(100% + 60px);
    width: 24px;
    background-color: #111111;
    -webkit-transition-duration: 4s;
    -o-transition-duration: 4s;
       transition-duration: 4s;
    transition-delay: .2s;
}

.js-profile-section__line-art--ver {
    left: calc(75% + 12px);
    width: 0;
}

.c-profile-section__line-art--hor {
    position: absolute;
    top: 70%;
    left: -30px ;
    height: 24px;
    width: calc(100% + 60px);
    background-color: #111111;
    -webkit-t   ransition-duration: 4s;
    -webkit-transition-duration: 4s;
         -o-transition-duration: 4s;
            transition-duration: 4s;
    transition-delay: .3s;
}

.js-profile-section__line-art--hor {
    top: calc(70% + 12px);
    height: 0;
}

.c-profile-section__para {
    color:#f1f1f1;
    padding-left: 50px;
    transition-delay: .5s;
}

.js-profile-section__para {
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
}

@media only screen and (max-width:700px) {
    .c-front-section__logo {
        height: 200px;
        width: 200px;
    }

    .l-profile-section {
        padding: 100px 50px;
    }
    
    @supports not ((display: -ms-grid) or (display: grid)) {
        .l-profile-section__profile {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
        }
    
        .c-profile-section__para {
            width: 100%;
        }
    }

    @supports ((display: -ms-grid) or (display: grid)) {
        .l-profile-section__profile {
            -ms-grid-columns: auto;
            grid-template-columns: auto;
            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto;
        }
        .l-profile-section__profile > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }
        .l-profile-section__profile > *:nth-child(2) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
        }
        
        .l-profile-section__profile > div:nth-child(1) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
        }
        
        .c-profile-section__para {
            padding-left: 0;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
        }
    }

    .l-profile-section__profile {
        height: auto;
        width: auto;
    }

    .c-profile-section__title {
        text-align: center;
    }
    
    .l-profile-section__picture {
        display: none;
    }

    .c-profile-section__para {
        padding: 0;
    }
}