.l-contact-page {
    position: relative;
    height: 100px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.l-contact-page:before, .l-contact-page:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-contact-page:before {
    background-color: #111111;
    z-index: -2;
}

.l-contact-page:after {
    z-index: -1;
    opacity: .1;
    background-image: url("/media/imgs/etc/city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.l-contact-page__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.c-contact-page__line-icon, .c-contact-page__inst-icon {
    margin: 0 5px;
    height: 20px;
    width: 20px;
}

.c-contact-page__line-icon {
    background-image: url("/media/icons/line.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-contact-page__inst-icon {
    background-image: url("/media/icons/inst.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-contact-page__name {
    font-family: futura;
    color: #d6b780;
    font-style: normal;
}