/* event section */
.l-profile__picture--0 > .c-page__counter {
    position: absolute;
    top: 3px;
    left: 8px;
}

.l-profile__picture--1 > .c-page__counter {
    position: absolute;
    top: 3px;
    right: 8px;
}

.l-event-section {
    min-height: 100vh;
    width: 100vw;
    padding: 70px 0;
}

.c-event-section__title {
    position: relative;
    margin: 50px 0;
    font-size: 2.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-event-section__title {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-event-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-event-section__line-art {
    width: 0;
}

.l-event-section__event {
    min-height: 100vh;
    width: 80vw;
}

.l-event-section__event > div[data-type='event'] {
    margin: 50px 0;
}

/* popup */
.l-popup-section {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
}

.js-popup-section {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.l-date-place__icon {
    height: 20px;
    width: 20px;
}

.c-wall {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    opacity: .96;
    cursor: pointer;
}

.js-wall {
    opacity: 0;
    pointer-events: none;
}

.c-wall__close-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url("/media/icons/cancel.svg");
}

@supports not ((display: -ms-grid) or (display: grid)) {
    .l-popup-section__popup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
    }

    .l-popup-section__picture {
        width: 200px;
        height: 100%;
    }

    .l-popup-section__content {
        width: auto;
        height: 100%;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-popup-section__popup {
        display: -ms-grid;                      /* IE 10 */
        display: grid;
        -ms-grid-columns: 200px auto;
        grid-template-columns: 200px auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    .l-popup-section__popup > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-popup-section__popup > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .l-popup-section__picture {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }

    .l-popup-section__content {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
}

.l-popup-section__popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: visible;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translate(0, -50%);      /* IE 9 */
    transform: translate(0, -50%);
    height: 400px;
    width: 100vw;
}

.l-popup-section:before, .l-popup-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-popup-section__popup:before {
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    z-index: -2;
    height: 100%;
    width: 100%;
}

.l-popup-section__popup:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .03;
    background-image: url("/media/imgs/etc/library.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.l-popup-section__picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}

.c-popup-section__image {
    height: 100%;
    width: 100%;
}

.l-popup-section__content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    font-family: futura;
    overflow-y: scroll;
    padding: 0 50px;
}

.l-popup-section__content:before, .l-popup-section__content:after {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
}

.c-popup-content__blur-eft--top {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
}

.c-popup-content__blur-eft--bot {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

.c-popup-section__title {
    font-family: futura;
}

.l-popup-section__detail {
    margin: 20px 0 0 20px;
    display: -ms-grid; /* IE 10 */
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.l-popup-section__detail > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.l-popup-section__detail > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.l-popup-section__para {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}

.l-popup-section__date-place {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 10px;
    display: -ms-grid; /* IE 10 */
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    color: #735c3f;
}

.l-popup-section__date-place > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.l-popup-section__date-place > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.l-date-place__place {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.c-place__place-icon {
    margin: 7px 0;
    background-image: url("/media/icons/placeholder.svg");
}

.c-place__content, .c-date__content {
    padding-left: 15px;
}

.l-date-place__date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}

.c-date__date-icon {
    margin: 7px 0;
    background-image: url("/media/icons/calendar.svg");
}

.c-date__content {
    padding-top: 7px;
}

@media only screen and (max-width: 700px) {
    @supports not ((display: -ms-grid) or (display: grid)) {
        .l-popup-section__popup {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
        }
    
        .l-popup-section__picture {
            width: 100%;
            height: 100px;
        }
    
        .l-popup-section__content {
            width: 100%;
            height: auto;
        }
    }

    @supports ((display: -ms-grid) or (display: grid)) {
        .l-popup-section__popup {
            height: 70vh;
            -ms-grid-columns: auto;
            grid-template-columns: auto;
            -ms-grid-rows: 100px auto;
            grid-template-rows: 100px auto;
        }
        .l-popup-section__popup > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }
        .l-popup-section__popup > *:nth-child(2) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
        }
    
        .l-popup-section__content {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
        }
    }
}
