.l-form-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    padding: 200px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.c-form-section__title {
    position: relative;
    font-size: 2.5em;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-form-section__title {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-form-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-form-section__line-art {
    width: 0;
}

@supports not (display: grid) {
    .l-form-section__form-con {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .l-form-section__image {
        height: 100%;
        width: 35%;
    }
    
    .l-form-section__form {
        height: 100%;
        width: 65%;
    }
}

@supports (display: grid) {
    .l-form-section__form-con {
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 35% auto;
        grid-template-columns: 35% auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .l-form-section__image {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .l-form-section__form {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
}

.l-form-section__form-con {
    min-height: 400px;
    width: 700px;
    margin: 100px;
    background-color: #111111;
    box-shadow: 2px 2px 100px #000000;
}

.js-form-section__form-con {
    transform: translateY(300px);
    opacity: 0;
}

.l-form-section__image {
    background-image: url("/media/imgs/etc/building.jpg");
    background-position: left center;
}

.l-form-section__form {
    padding: 70px 0;
}

.c-form-section__info {
    width: 85%;
    margin: 10px 0;
    font-size: .8em;
    color: #f1f1f1;
}

.c-form-section__input-label {
    position: absolute;
    top: -5px;
    left: 0;
    transform: translateY(-100%);
    font-size: .7em;
    color: #f1f1f1;
}

.l-form-section__input {
    margin: 20px 0;
    position: relative;
    width: 80%;
}

input, textarea {
    box-sizing: border-box;
    font-family: futura;
    padding: 15px 15px;
    width: 100%;
    background-color: transparent;
    color: #f1f1f1;
    font-size: .8em;
}

textarea {
    height: 200px;
    resize: none;
}

.c-rectangle-art {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #f1f1f1;
    opacity: .04;
    border-radius: 2px;
}

.c-line-art {
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #735c3f; 
}

input:focus + .c-rectangle-art, 
input:focus + .c-rectangle-art + .c-line-art,
textarea:focus + .c-rectangle-art, 
textarea:focus + .c-rectangle-art + .c-line-art {
    transition-duration: 1s;
    left: 0;
    width: 100%;
}

input[type="submit"] {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: #d6b780;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #f1f1f1;
}

.c-register-button-art {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 100%;
    width: 0;
    background-color: #735c3f;
    -webkit-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    -o-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
}

input:hover + .c-register-button-art, 
.c-popup-section__left-button:hover > .c-register-button-art,
.c-popup-section__right-button:hover > .c-register-button-art {
    width: 100%;
}

.c-popup-section__left-button:hover,
.c-popup-section__right-button:hover {
    color: #f1f1f1;
}

.c-form-section__message {
    box-sizing: border-box;
    background-color: #f1f1f1;
    color: #111111;
    width: 100%;
    padding: 30px 25px;
    margin: 40px 0;
}

/* announcing soon */
/* 
.l-form-section h1 {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-family: glosa;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: -o-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-form-section h1:before, .l-form-section h1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-form-section h1:before {
    z-index: -2;
    background-color: #111111;
}

.l-form-section h1:after {
    opacity: .1;
    z-index: -1;
    background-image: url("/media/icons/logo dolc black.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
} */

/* popup */
.l-popup-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    transition-duration: 1s;
}

.js-popup-section {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.l-date-place__icon {
    height: 20px;
    width: 20px;
}

.c-wall {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    opacity: .96;
    cursor: pointer;
    transition-duration: 1s;
}

.js-wall {
    opacity: 0;
    pointer-events: none;
}

.c-wall__close-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url("/media/icons/cancel.svg");
}

.l-popup-section__popup {
    position: absolute;
    z-index: 2;
    pointer-events: visible;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translate(0, -50%);      /* IE 9 */
    transform: translate(0, -50%);
    min-height: 400px;
    width: 100vw;
}

.l-popup-section__popup:before, .l-popup-section__popup:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-popup-section__popup:before {
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    z-index: -2;
    height: 100%;
    width: 100%;
}

.l-popup-section__popup:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .03;
    background-image: url("/media/imgs/etc/library.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.l-popup-section__content {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 30px;
    font-family: futura;
}

.l-popup-section__button {
    width: 100%;
    justify-content: space-around;
}

.c-popup-section__left-button, .c-popup-section__right-button {
    color: #735c3f;
    font-size: .7em;
    position: relative;
    padding: 10px 30px;
}

.c-popup-section__handshake-icon {
    height: 100px;
    width: 100px;
    background-image: url("/media/icons/handshake.svg")
}

.c-popup-section__message {
    padding: 20px 0;
    text-align: center;
    font-size: 1.7em;
}

@media only screen and (max-width: 700px) {
    .l-popup-section__button {
        min-height: 100px;
        flex-flow: column nowrap;
    }

    @supports not (display: grid) {
        .l-form-section__form-con {
            flex-flow: column nowrap;
        }
    
        .l-form-section__image {
            height: 200px;
            width: 100%;
        }
        
        .l-form-section__form {
            height: auto;
            width: 100%;
        }
    }

    @supports (display: grid) {
        .l-form-section__form-con {
            grid-template-columns: auto;
            grid-template-rows: 200px auto;
        }
    
        .l-form-section__image {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        .l-form-section__form {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    .l-form-section__form-con {
        width: 100vw;
    }
}