/* front section */
.l-front-section {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.js-front-section {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.l-front-section:before, .l-front-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-front-section:before {
    background-color: #111111;
    z-index: -2;
}

.l-front-section:after {
    z-index: -1;
    opacity: .3;
    background-image: url("/media/imgs/etc/front-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* @supports (background-attachment: fixed) {
    .l-front-section:after {
        background-attachment: fixed;
    }
} */

@supports not ((display: -ms-grid) or (display: grid)) {
    .l-front-section__caption {
        height: 80vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    
    .c-front-section__title {
        height: 100%;
        width: 300px;
    }

    .c-front-section__line {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }

    .c-front-section__date {
        height: 100%;
        width: 300px;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-front-section__caption {
        height: 70%;
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 300px auto 300px;
        grid-template-columns: 300px auto 300px;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .l-front-section__caption > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-front-section__caption > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .l-front-section__caption > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .l-front-section__caption > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .l-front-section__caption > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .l-front-section__caption > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    
    .c-front-section__title {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }

    .c-front-section__line {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }

    .c-front-section__date {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
}

.l-front-section__caption {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: glosa;
    color: #f1f1f1;
}

.c-front-section__title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 0;
    text-align: right;
    /* background: -webkit-linear-gradient(135deg, #735c3f 5%, #d6b780);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
       transition-delay: .7s;
}

.js-front-section__title {
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0;
}

.c-front-section__line {
    margin: 0 20px;
    height: 100%;
    width: 1px;
    background-color: #d6b780;
    /* background: linear-gradient(180deg, #735c3f, #d6b780); */
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
       transition-delay: .5s;
}

.js-front-section__line {
    height: 0;
}

.c-front-section__date {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 25px 0;
    text-align: left;
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
       transition-delay: .7s;
}

.js-front-section__date {
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
    opacity: 0;
}

.c-front-section__day {
    margin: 10px 0;
}

.c-front-section__day > h5, .c-front-section__day > h4, .c-front-section__date > h3 {
    font-family: futura;
}

/* about section */
.l-about-section {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100vh;
    padding: 150px 0;
    width: 100vw;
}

.c-about-section__image {
    background-image: url("/media/imgs/etc/working.png");
}

.c-about-section__counter {
    position: absolute;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* register section */
@supports not ((display: -ms-grid) or (display: grid)) {
    .l-register-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
    }

    .l-register-section__left {
        width: 50%;
    }
    
    .l-register-section__right {
        width: 50%;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-register-section {
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    .l-register-section > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-register-section > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .l-register-section__left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    
    .l-register-section__right {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
}

.l-register-section {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.js-register-section {
    height: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.l-register-section:before, .l-register-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-register-section:before {
    background-color: #f1f1f1;
    z-index: -2;
}

.l-register-section:after {
    z-index: -1;
    opacity: .1;
    background-image: url("/media/imgs/etc/cool-suit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.l-register-section__content {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: futura;
}

.l-register-section__left {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 70px 0 0 70px;
}

.js-register-section__left {
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
    opacity: 0;
}

.c-register-section__title {
    font-family: futura;
}

.js-register-section__title {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

.l-register-section__para {
    padding-left: 40px;
    width: 70%;
}

.js-register-section__para {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}

.js-register-section__right {
    -webkit-transform: translateX(30%);
    -ms-transform: translateX(30%);
    transform: translateX(30%);
    opacity: 0;
}

.l-register-section .c-read-more {
    color: #735c3f;
}

.l-register-section .c-read-more .c-circle--medium {
    background-color: #735c3f;
}

.c-register-section__register-button {
    position: relative;
    border: 1px solid #735c3f;
    border-image-source: -webkit-linear-gradient(45deg, #735c3f 50%, #d6b780);
    border-image-slice: 20;
    padding: 10px 34px;
    font-family: futura;
    color: #735c3f;
}

.c-register-section__register-button:hover {
    color: #f1f1f1;
}

.c-register-button-art {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0;
    background-color: #735c3f;
    -webkit-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    -o-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
}

.c-register-section__register-button:hover .c-register-button-art {
    width: 100%;
}

/* testi section */
.l-testi-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 100px 50px 50px;
}

.l-testi-section > .js-page__counter {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
}

.l-testi-section .l-profile--1 {
    margin-bottom: 80px;
}

.c-testi-section__title {
    position: relative;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 2.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-testi-section__title {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
}

.c-testi-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-testi-section__line-art {
    width: 0;
}

.c-testi-section__image--0 {
    background-image: url("/media/imgs/etc/meeting.png");
}

.c-testi-section__image--1 {
    background-image: url("/media/imgs/etc/meeting.png");
}

/* sponsor and media partners section */
.l-spon-media-section {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 50px 0;
}

.l-spon-media-section:before, .l-spon-media-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-spon-media-section:before {
    background-color: #f1f1f1;
    z-index: -2;
}

.l-spon-media-section:after {
    z-index: -1;
    opacity: .05;
    background-image: url("/media/imgs/etc/conference.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.js-spon-media-section {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

@supports not ((display: -ms-grid) or (display: grid)) {
    .l-spon-media-section__spon-media {
        font-family: futura;
        font-weight: 200;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
    }

    .l-spon-media-section__sponsor {
        width: 50%;
    }
    
    .l-spon-media-section__media {
        width: 50%;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-spon-media-section__spon-media {
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        font-family: futura;
        font-weight: 200;
    }
    .l-spon-media-section__spon-media > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-spon-media-section__spon-media > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .l-spon-media-section__sponsor {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    
    .l-spon-media-section__media {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
}

.l-spon-media-section__spon-media {
    width: 90%;
}

.l-spon-media-section__spon-media h2 {
    font-family: futura;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

.l-spon-media-section__sponsor, .l-spon-media-section__media {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.js-spon-media-section__sponsor {
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
}

.js-spon-media-section__media {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
}

.l-spon-media-section__sponsor__content,
.l-spon-media-section__media__content {
    flex-flow: row wrap;
}

@media only screen and (max-width: 700px) {
    @supports not ((display: -ms-grid) or (display: grid)) {
        .l-register-section {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
        }
        
        .l-register-section__left {
            width: 100%;
            padding: 0;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 40px 40px 0 40px;
        }
    
        .l-register-section__right {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            width: 100%;
        }

        .l-spon-media-section__spon-media {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap
        }

        .l-spon-media-section__media {
            width: 100%;
        } 
        
        .l-spon-media-section__sponsor {
            width: 100%;
        }  
    }

    @supports ((display: -ms-grid) or (display: grid)) {
        .l-register-section {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            -ms-grid-rows: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .l-register-section > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }
        .l-register-section > *:nth-child(2) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
        }
        
        .l-register-section__left {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
        }
    
        .l-register-section__right {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
        }

        .l-spon-media-section__spon-media {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            -ms-grid-rows: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .l-spon-media-section__spon-media > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1;
        }

        .l-spon-media-section__spon-media > *:nth-child(2) {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
        }
    
        .l-spon-media-section__media {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
        }    
    }

    .l-register-section__left {
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 40px 40px 0 40px;
    }
}
