* {
    text-decoration: none; 
    border: none;
}

body {
    margin: 0;
    background-color: #111111;
}

html, body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: glosa;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: .9em;
    font-weight: bold;
}

h5 {
    font-size: .7em;
    font-weight: 100;
}

a, button, input[type="checkbox"] {
    pointer-events: visible;
    cursor: pointer;
}

a:focus, {
    outline: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

label {
    position: relative;
    z-index: 1;
    pointer-events: none;   
    font-family: futura;
}

p {
    font-family: futura;
    font-size: .9em;
    margin: 5px 0;
}

input[type="checkbox"] {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
}

@font-face {
    font-family: futura;
    src: url("../fonts/futura-book-bt.ttf") format("truetype");
}

@font-face {
    font-family: glosa;
    src: url("../fonts/Glosa Display Medium.otf") format("truetype");
}

.js-animation {
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
    -o-transition-duration: 2s;
       transition-duration: 2s;
    -o-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
       transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
}

.js-animation-delay--0 {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
       transition-delay: .5s;
}

.c-page__counter {
    font-family: glosa;
    /* color: #d6b780; */
    color: transparent;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.l-image--default {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.l-row--center {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
}

.l-row--left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.l-col--center {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.l-col--left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.l-page {
    min-height: 100vh;
}

.c-border {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #735c3f;
    border-image-source: -webkit-linear-gradient(45deg, #735c3f 50%, #d6b780);
    border-image-slice: 15;
}

.c-loading-screen {
    position: relative;
    height: 100px;
    width: 100px;
}

.c-loading-screen__loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #111111;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

.c-loading-screen__message {
    font-family: futura;
    color: #111111;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(135deg);
    }

    35% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(225deg);
    }

    65% {
        transform: rotate(420deg);
    }

    75% {
        transform: rotate(315deg);
    }

    85% {
        transform: rotate(390deg);
    }

    95% {
        transform: rotate(345deg);
    }

    100% {
        transform: rotate(360deg);
        animation-delay: 2s;
    }
}

.l-circle-art__hor {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.c-circle-art--0 {
    height: auto;
    width: 60px;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.js-circle-art--0 {
    width: 30px;
    opacity: 0;
}

.c-circle--medium {
    margin: 3px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background-color: #f1f1f1; 
}

.c-circle--large {
    margin: 3px;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #735c3f; 
}

.c-read-more__circle-art {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.c-read-more__label {
    margin-left: 3px;
    font-size: .7em;
}

/* checkbox */
.l-checkbox {
    box-sizing: border-box;
    flex: 0 0 15px;
    position: relative;
    height: 15px;
    /* width: 15px; */
    margin: 15px 15px 15px 0;
}

.c-checkbox-message {
    flex-grow: 1;
    color: #f1f1f1;
}

.c-checkbox__checkmark {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 2px;
}

.c-checkbox__checkmark:after {
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 6px;
    border: solid #111111;
    border-width: 0 2px 2px 0;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked + .c-checkbox__checkmark:after {
    display: initial;
}

/* profile */
@supports not ((display: -ms-grid) or (display: grid)) {
    .l-profile--0 {
        min-height: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    
    .l-profile--1 {
        min-height: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-flow: row-reverse nowrap;
                flex-flow: row-reverse nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    
    .l-profile__picture--0 {
        width: 300px;
        position: relative;
    }
    
    .l-profile__picture--1 {
        width: 300px;
        position: relative;
    }

    .l-profile__content--0 {
        width: 350px;
        color: #f1f1f1;
        padding: 20px 0 0 20px;
    }    

    .l-profile__content--1 {
        width: 350px;
        text-align: right;
        color: #f1f1f1;
        padding: 20px 20px 0 0;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-profile--0 {
        min-height: 350px;
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: minmax(0, 300px) minmax(0, 350px);
        grid-template-columns: minmax(0, 300px) minmax(0, 350px);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    .l-profile--0 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-profile--0 > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    
    .l-profile--1 {
        min-height: 350px;
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: minmax(0, 350px) minmax(0, 300px);
        grid-template-columns: minmax(0, 350px) minmax(0, 300px);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    
    .l-profile--1 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    .l-profile--1 > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    
    .l-profile__picture--0 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        position: relative;
    }
    
    .l-profile__picture--1 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        position: relative;
    }

    .l-profile__content--0 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        color: #f1f1f1;
        padding: 20px 0 0 20px;
    }    

    .l-profile__content--1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        text-align: right;
        color: #f1f1f1;
        padding: 20px 20px 0 0;
    }
}

.js-profile__picture {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    opacity: 0;
}

.l-profile__rectangle-art--0 {
    height: 250px;
    width: 250px;
    border: 2px solid #735c3f;
    border-image-source: -webkit-linear-gradient(135deg, #735c3f 50%, #d6b780);
    border-image-slice: 20;
}

.l-profile__rectangle-art--1 {
    height: 250px;
    width: 250px;
    float: right;
    border: 2px solid #735c3f;
    border-image-source: -webkit-linear-gradient(45deg, #735c3f 50%, #d6b780);
    border-image-slice: 20;
}

.js-profile__rectangle-art {
    -webkit-transform: translate(20px, 20px);
    -ms-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
    opacity: 0;
}

.l-profile__circle-art--0 {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-120%, -50%);
    -ms-transform: translate(-120%, -50%);
    transform: translate(-120%, -50%);
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.l-profile__circle-art--1 {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(120%, -50%);
    -ms-transform: translate(120%, -50%);
    transform: translate(120%, -50%);
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.js-profile__circle-art {
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    opacity: 0;
}

.c-profile__image--0 {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-profile__image--1 {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-profile__image--0:hover, .c-profile__image--1:hover {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.js-profile__image {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    height: 0;
}

.l-profile__title {
    font-family: glosa;
    position: relative;
}

.l-profile__content--0 > .l-profile__title > .c-profile__title {
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-profile__content--1 > .l-profile__title > .c-profile__title {
    background: -webkit-linear-gradient(135deg, #735c3f, #d6b780 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-profile__content {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
}

.c-profile__title {
    margin: 10px 0;
    color: transparent;
}

.c-profile__para {
    font-family: futura;
}

/* read more */
.c-read-more {
    position: relative;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px 15px 15px 0;
    color: #f1f1f1;
    cursor: pointer;
    font-family: futura;
}

.l-profile__content--1 .c-read-more {
    padding: 3px 0 15px 15px;
    float: right;
}

.c-read-more:hover .c-circle--medium {
    margin: 4px;
}

.c-read-more:hover .c-read-more__label {
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.4em;
    }

    h4 {
        font-size: .8em;
    }

    @supports not ((display: -ms-grid) or (display: grid)) {
        .l-profile--0, .l-profile--1 {
            width: 300px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
        }

        .l-profile__content--0, .l-profile__content--1 {
            width: auto;
            text-align: left;
            padding: 20px 0 0 30px;
        }
    }

    @supports ((display: -ms-grid) or (display: grid)) {
        .l-profile--0, .l-profile--1 {
            -ms-grid-columns: minmax(0, 300px);
            grid-template-columns: minmax(0, 300px);
        }

        .l-profile__picture--0 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
        }
    
        .l-profile__picture--1 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
        }
    
        .l-profile__content--0 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
        }
    
        .l-profile__content--1 {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            grid-column: 1/2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
            text-align: left;
            padding: 20px 0 0 30px;
        }
    }

    .l-profile__circle-art--0, .l-profile__circle-art--1 {
        display: none;
    }

    .c-profile__title {
        margin-top: 20px;  
        text-align: center; 
    }
    
    .c-read-more {
        float: left !important;
        padding: 0 15px 15px 0 !important;
    }
}
