.l-nav--nav-page {
    position: fixed;
    top: 0px;
    z-index: 2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    pointer-events: none;
    height: auto;
    width: 100vw;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;   /* TWEENER - IE 10 */  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    font-family: futura;
}

@supports not ((display: -ms-grid) or (display: grid)) {
    .l-nav--top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .l-nav--top__nav-button {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
}

@supports ((display: -ms-grid) or (display: grid)) {
    .l-nav--top {
        display: -ms-grid;  
        display: grid;
        -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
        -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
    }
    .l-nav--top > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .l-nav--top > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .l-nav--top__web-icon {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }

    .l-nav--top__nav-button {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        position: relative;
    }
}

.l-nav--top {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    z-index: 2;
    padding: 20px;   
    width: 100vw;
}

.l-nav--top__web-icon {
    position: relative;
    height: 60px;
    width: 60px;
}

.c-web-icon {
    pointer-events: auto;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/media/icons/logo dolc black.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
         -o-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
            transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
}

.c-web-icon:hover {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* transform: scale(1.05, 1.05); */
}

.l-nav--top__nav-button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
}

.c-nav-button {
    pointer-events: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: transparent;
}

.c-nav-button__line-art {
    position: relative;
    height: 2px;
    width: 20px;
    background-color: #d6b780;
    margin: 5px;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
         -o-transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
            transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
}
.c-nav-button__line-art--0 {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(.5, 1);
    -ms-transform: scale(.5, 1);
    transform: scale(.5, 1);
}

.c-nav-button__line-art--2 {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(.5, 1);
    -ms-transform: scale(.5, 1);
    transform: scale(.5, 1);
}

.c-nav-button:hover .c-nav-button__line-art--0, 
.c-nav-button:hover .c-nav-button__line-art--2 {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
}

.c-nav-button:hover .c-nav-button__line-art {
    background-color: #735c3f;
} 

/* navbar bottom */
.l-nav--bottom {
    pointer-events: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
}

.l-nav--bottom:before, .l-nav--bottom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-nav--bottom:before {
    z-index: -2;
    background-color: #111111;
}

.l-nav--bottom::after {
    opacity: .1;
    z-index: -1;
    background-image: url("/media/icons/logo dolc black.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.js-nav--bottom {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.js-page {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(.9, .9);
    -ms-transform: scale(.9, .9);
    transform: scale(.9, .9);
}

.l-nav {
    height: auto;
    width: 80%;
}

.c-nav__button {
    height: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #f1f1f1;
}

.js-nav__button {
    -webkit-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    transform: translateX(-40%);
    opacity: 0;
}

.c-nav__button__about > 
.c-nav__button__content > 
div:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
} 

#c-nav__about-dolc-button, #c-nav__about-team-button {
    position: absolute;
    top: 50%;
    z-index: 2;
    color: #f1f1f1;
    opacity: 0;
    padding: 10px;
}

.c-nav__button__content {
    /*height: 100%;*/
    /*width: 100%;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding: 10px 28px;
}

.c-nav__button__content h4 {
    font-family: futura;
    margin-bottom: 5px;
}

.c-nav__button__scroll {
    position: absolute;
    z-index: 0;
    -webkit-transform: translate(-28px, 12px) translateY(-50%);
        -ms-transform: translate(-28px, 12px) translateY(-50%);
            transform: translate(-28px, 12px) translateY(-50%);
    -webkit-transition-duration: .2s;
         -o-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    cursor: pointer;
    height: 140px;
    width: 100%;
}

.c-nav__button__line {
    margin-top: 4px;
    height: 1px;
    width: 10px;
    background-color: #d6b780;
    -webkit-transition: width .15s ease-out;
    -o-transition: width .15s ease-out;
    transition: width .15s ease-out;
}

.c-nav__button:hover {
    color: #735c3f
}

.c-nav__button:hover .c-nav__button__line {
    width: 100%;
    background-color: #735c3f; 
}

@media only screen and (max-width: 700px) {
    .l-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
}
