.l-participants-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 100px;
}

.c-participants-section__title {
    position: relative;
    font-size: 2.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-participants-section__title {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-participants-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-participants-section__line-art {
    width: 0;
}

.c-participants-section__slide-button {
    height: 200px;
    width: 100px;
    position: absolute;
    opacity: .2;
    z-index: 1;
    top: 50%;
    background-size: 50px auto;
    transform: translateY(-50%);   
}

.js-participants-section__slide-button {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-participants-section__slide-button:hover {
    opacity: .7;
}

.c-participants-section__left-button {
    left: 0;
    background-image: url("/media/icons/back.svg");
}

.c-participants-section__right-button {
    right: 0;
    background-image: url("/media/icons/next.svg");
}

.l-participants-section__participants-con {
    overflow: hidden;
    position: relative;
    min-height: 70vh;
    width: 100vw;
    padding: 100px 0;
}

.js-participants-section__participants-con {
    opacity: 0;
}

.l-participants-section__participants-con:after {
    content: "";
    position: absolute;
    z-index: -2;
    opacity: .5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-image: url("/media/imgs/etc/chair-decor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 50px;
}

.l-participants-section__participants {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    transform: translate(0, 0);
    justify-content: flex-start;
    align-items: center;
}

.l-participants-section__profile {
    height: 100%;
    width: 100vw;
}

.l-participants-section__agency {
    box-sizing: border-box;
    width: 700px;
}

.l-participants-section__picture {
    height: auto;
    width: auto;
}

.js-participants-section__picture {
    transform: translateY(-100%);
    opacity: 0;
}

.c-participants-section__image {
    background-color: #ffffff;
    padding: 10px;
    margin: 20px 0;
}

.js-participants-section__content {
    transform: translateY(100%);
    opacity: 0;
}

.c-participants-section__expertise {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: futura;
    color: #f1f1f1;
    margin: 7px 0;
}

.c-expertise__line-art {
    position: relative;
    height: 1px;
    flex-grow: 1;
    margin: 0 10px;
    background-color: #f1f1f1;
    transition-delay: .2s;
}

.c-expertise__line-art:nth-child(1) {
    transform-origin: 100% 50%;
}

.c-expertise__line-art:nth-child(3) {
    transform-origin: 0 50%;
}

.js-expertise__line-art {
    transform: scaleX(0);
}

.c-participants-section__name {
    width: 100%;
    font-family: glosa;
    font-size: 1.7em;
    padding: 10px 0;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: -o-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-participants-section__desc {
    font-family: futura;
    font-size: .9em;
    color: #f1f1f1;
    text-align: center;
    padding: 0 12px;
}

.l-participants-section__decor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* height: 100%; */
    width: 100%;
}

.c-participants-section__chair-decor {
}

/* maintenance */
/* .l-participants-section h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-family: glosa;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: -o-linear-gradient(45deg, #735c3f, #d6b780 70%);
    background: linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-participants-section h1:before, .l-participants-section h1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.l-participants-section h1::before {
    z-index: -2;
    background-color: #111111;
}

.l-participants-section h1::after {
    opacity: .1;
    z-index: -1;
    background-image: url("/media/icons/logo dolc black.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
} */

@media only screen and (max-width: 700px) {
    .l-participants-section__agency {
        max-width: 300px;
    }

    .c-participants-section__image {
        max-height: 300px;
        max-width: 300px;
    }
}