.c-countdown-timer {
    width: 100%;
}

.c-countdown-timer__head {
    width: 100%;
    margin-bottom: 15px;
}

.c-countdown-timer__head .c-regis-section__name {
    text-align: center;
}

.l-countdown-timer__open-regis {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: futura;
    color: #f1f1f1;
    margin: 7px 0;
}

.js-open-regis__label {
    transition-delay: .4s;
    opacity: 0;
}

.c-open-regis__line-art {
    position: relative;
    height: 1px;
    flex-grow: 1;
    margin: 0 10px;
    background-color: #f1f1f1;
    transition-delay: .2s;
}

.c-open-regis__line-art:nth-child(1) {
    transform-origin: 100% 50%;
}

.c-open-regis__line-art:nth-child(3) {
    transform-origin: 0 50%;
}

.js-open-regis__line-art {
    transform: scaleX(0);
}

.c-countdown-timer__timer > div {
    margin: 0 10px;
}

.c-countdown-timer__timer > div.js-countdown-timer__part {
    transform: translateY(50%);
    opacity: 0;
}

.c-countdown-timer__day {
    transition-delay: .3s;
}

.c-countdown-timer__hour {
    transition-delay: .4s;
}

.c-countdown-timer__minute {
    transition-delay: .5s;
}

.c-countdown-timer__second {
    transition-delay: .6s;
}

.c-countdown-timer__timer label {
    font-size: .8em;
}

.c-countdown-timer__circle-art {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: #111111;
    margin-bottom: 10px;
}

/* main */
.l-regis-section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    padding: 200px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.c-regis-section__title {
    position: relative;
    font-size: 2.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-regis-section__title {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

.c-regis-section__line-art {
    position: absolute;
    left: calc(-50vw - 30px);
    top: .5em;
    height: 1px;
    width: 50vw;
    background-color: #d6b780;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.js-regis-section__line-art {
    width: 0;
}

@supports not (display: grid) {
    .l-regis-section__event-con {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .c-regis-section__image {
        height: 100%;
        width: 35%;
    }
    
    .l-regis-section__events {
        height: 100%;
        width: 65%;
    }
}

@supports (display: grid) {
    .l-regis-section__event-con {
        display: -ms-grid; /* IE 10 */
        display: grid;
        -ms-grid-columns: 35% auto;
        grid-template-columns: 35% auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .c-regis-section__image {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .l-regis-section__events {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.l-regis-section__event-con {
    min-height: 400px;
    margin: 100px;
    width: 700px;
    background-color: #111111;
    box-shadow: 2px 2px 100px #000000;
}

.js-regis-section__event-con {
    transform: translateY(300px);
    opacity: 0;
}

.c-regis-section__image {
    position: relative;
    background-position: center center;
}

#c-regis-section__talkshow-image {
    background-image: url("/media/imgs/etc/women-with-hat.jpg");
}

#c-regis-section__workshop-image {
    background-image: url("/media/imgs/etc/workshop.jpg");
}

#c-regis-section__test-image {
    background-image: url("/media/imgs/etc/businessman-desk-work.jpg");
}

.l-regis-section__image:nth-child(1) {
    background-color: url("/media/imgs/etc/")
}

.l-regis-section__events {
    padding: 70px 0;
}

.l-regis-section__event {
    box-sizing: border-box;
    font-family: futura;
    color: #f1f1f1;
    width: 100%;
    padding: 30px 60px;
}
.h-regis-section__event-type {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(245px - 50%), -60%);
}

.c-regis-section__event-type {
    font-family: glosa;
    font-size: 2em;
    color: #735c3f;
    /* text-shadow: 2px 2px 3px #111111; */
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l-regis-section__detail > div {
    align-items: flex-start;
}

.l-regis-section__detail p {
    flex: 1 1 auto;
    margin: 10px 0;
}

.js-regis-section__detail {
    transform: translateY(50%);
}

.l-regis-section__event > div {
    margin: 10px 0;
    font-size: .9em;
}

.l-regis-section__icon {
    height: 17px;
    width: 17px;
    margin: 10px 10px 10px 0;
    flex: 0 0 auto;
}

.c-regis-section__agency-icon {
    background-image: url("/media/icons/visitor.svg");
}

.c-regis-section__place-icon {
    background-image: url("/media/icons/placeholder.svg");
}

.c-regis-section__date-icon {
    background-image: url("/media/icons/calendar.svg");
}

.c-regis-section__speaker-icon {
    background-image: url("/media/icons/speaker.svg");
}

.c-regis-section__req-icon {
    background-image: url("/media/icons/list.svg");
}

.c-regis-section__regis-icon {
    background-image: url("/media/icons/contract.svg");
}

.c-regis-section__name {
    font-family: futura;
    font-size: 1.5em;
    background: -webkit-linear-gradient(45deg, #735c3f, #d6b780 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-regis-section__name {
    transform: translateY(-400%);
    opacity: 0;
}

.l-regis-section__event:hover {
    background-color: #0f0f0f;
}

.c-register-button {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 15px 15px;
    color: #735c3f;
}


.c-register-button-art {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 100%;
    width: 0;
    background-color: #735c3f;
    -webkit-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    -o-transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
    transition: width 2s cubic-bezier(.11,1.11,.15,.99) 0s;
}
.c-register-button:hover {
    color: #f1f1f1;
}

.c-register-button:hover > .c-register-button-art {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .c-countdown-timer__timer > div {
        margin: 0 5px;
    }

    .c-countdown-timer__circle-art {
        height: 45px;
        width: 45px;
    }

    .c-countdown-timer__timer label {
        font-size: .7em;
    }

    @supports not (display: grid) {
        .l-regis-section__event-con {
            flex-flow: column nowrap;
        }
    
        .c-regis-section__image {
            height: 200px;
            width: 100%;
        }
        
        .l-regis-section__events {
            height: auto;
            width: 100%;
        }
    }

    @supports (display: grid) {
        .l-regis-section__event-con {
            grid-template-columns: auto;
            grid-template-rows: 200px auto;
        }
    
        .c-regis-section__image {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        .l-regis-section__events {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    .l-regis-section__event-con {
        width: 100vw;
    }
}