<address class="l-contact-page">
    <div class="l-contact-page__contact l-row--center">
        <div class="l-contact-page__icons l-row--center">
            <a class="c-contact-page__line-icon" href="http://line.me/ti/p/@kfn8901p" target="_blank"></a>
            <a class="c-contact-page__inst-icon" href="https://www.instagram.com/dolcfhui/" target="_blank"></a>
        </div>
        <h4 class="c-contact-page__name l-row--center">
            dolcfhui
        </h4>
    </div>
</address>