<nav class="l-nav--nav-page">
    <div class="l-nav--top l-ver-center">
        <a class="l-nav--top__web-icon" href="{% url 'home:home' %}">
            <div class="c-web-icon">
            </div>
        </a>
        <div class="l-nav--top__nav-button l-row--center">
            <button class="c-nav-button" data-state="true">
                <div class="c-nav-button__line-art c-nav-button__line-art--0"></div>
                <div class="c-nav-button__line-art c-nav-button__line-art--1"></div>
                <div class="c-nav-button__line-art c-nav-button__line-art--2"></div>
            </button>
        </div>
    </div>
    <div class="l-nav--bottom l-row--center js-nav--bottom js-animation">
        <div class="l-nav l-row--center">
            <a class="c-nav__button l-col--center js-nav__button js-animation" href="{% url 'home:home' %}">
                <div class="c-nav__button__content">
                    <h4>
                        Home
                    </h4>
                    <div class="c-nav__button__line">
                    </div>
                </div>
            </a>
            <div class="c-nav__button l-col--center c-nav__button__about js-nav__button js-animation">
                <div class="c-nav__button__content">
                    <div>
                        <h4>
                            About
                        </h4>
                        <div class="c-nav__button__line"></div>
                    </div>
                    <a class="js-animation" id="c-nav__about-dolc-button" href="{% url 'about:dolc' %}">
                        DOLC
                    </a>
                    <a class="js-animation" id="c-nav__about-team-button" href="{% url 'about:team' %}">
                        Team
                    </a>
                </div>
            </div>
            <a class="c-nav__button l-col--center js-nav__button js-animation" href="{% url 'events:events' %}">
                <div class="c-nav__button__content">
                    <h4>
                        Events
                    </h4>
                    <div class="c-nav__button__line">
                    </div>
                </div>
            </a>
            <a class="c-nav__button l-col--center js-nav__button js-animation" href="{% url 'parti:parti' %}">
                <div class="c-nav__button__content">
                    <h4>
                        Participants
                    </h4>
                    <div class="c-nav__button__line">
                    </div>
                </div>
            </a>
            <a class="c-nav__button l-col--center js-nav__button js-animation" href="{% url 'regis:regis' %}">
                <div class="c-nav__button__content">
                    <h4>
                        Registration
                    </h4>
                    <div class="c-nav__button__line">
                    </div>
                </div>
            </a>
        </div>
    </div>
</nav>