{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>DOLC 2019 - Participants</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/participants-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/participants-script.js'%}"></script>
</head>
<body>
	<nav class="l-nav--main-page">
		{% include 'reusable-pages/navbar.html' %}
	</nav>
	<section class="l-page js-animation">
		<div class="l-participants-section l-col--center">
			<div class="js-participants-section__title js-animation">
				<h1 class="c-participants-section__title">
					<div class="c-participants-section__line-art js-participants-section__line-art js-animation js-animation-delay--0"></div>
					PARTICIPANTS
				</h1>
			</div>
			<div class="l-participants-section__participants-con l-image--default js-participants-section__participants-con js-animation">
				<button class="c-participants-section__slide-button c-participants-section__left-button l-image--default js-participants-section__slide-button js-animation"></button>
				<button class="c-participants-section__slide-button c-participants-section__right-button l-image--default js-participants-section__slide-button js-animation"></button>
				<div class="l-participants-section__participants l-row--center js-animation">
				</div>                                                           
				<div class="l-participants-section__decor">
					<div class="c-participants-section__chair-decor l-image--default"></div>
				</div>
			</div>
		</div>
        <div class="l-contact-section">
			{% include 'reusable-pages/contact.html' %}
		</div>
    </section>
</body>
</html>