{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>DOLC 2019 - About - DOLC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/about-dolc-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/about-dolc-script.js'%}"></script>
</head>
<body>
	<nav class="l-nav--main-page">
		{% include 'reusable-pages/navbar.html' %}
	</nav>
	<section class="l-page js-animation">
		<div class="l-front-section l-col--center js-front-section js-animation">
			<div class="c-front-section__logo l-image--default js-front-section__logo js-animation"></div>
		</div>
		<div class="l-profile-section l-col--center">
			<div class="l-profile-section__profile">
				<div class="js-profile-section__title js-animation">
					<h1 class="c-profile-section__title l-col--center">
						<div class="c-profile-section__line-art js-profile-section__line-art js-animation js-animation-delay--0"></div>
						DAYS OF LAW CAREER
					</h1>
				</div>
				<div class="l-profile-section__picture">
					<div class="c-circle-art--0 c-profile-section__circle-art--top js-circle-art--0 js-animation">
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
					</div>
					<div class="c-profile-section__image l-image--default js-profile-section__image js-animation"></div>
					<div class="c-profile-section__line-art--ver js-profile-section__line-art--ver js-animation"></div>
					<div class="c-profile-section__line-art--hor js-profile-section__line-art--hor js-animation"></div>
					<div class="c-circle-art--0 c-profile-section__circle-art--bottom js-circle-art--0 js-animation">
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
						<div class="c-circle--medium"></div>
					</div>
				</div>
				<p class="c-profile-section__para js-profile-section__para js-animation">
					Days of Law Career (DOLC) is an annual event, organized by Departemen Pengembangan Karier Badan Eksekutif Mahasiswa Fakultas Hukum Universitas Indonesia, for both law students and alumni to obtain information regarding access to career in the legal sector and also to help with the correct selection of profession in accordance with their talents and expertise. This event will feature a job fair, scholarship fair, workshops, talkshows and other additional events. With the theme “Exceed the Expectation, Reshape the Reality”, DOLC 2019 hopes to expand the horizon of law students and alumni so that they can discover new potentials and find a career that is in accordance with that potential.
				</p>
			</div>
		</div>
		<div class="l-contact-section">
			{% include 'reusable-pages/contact.html' %}
		</div>
    </section>
</body>
</html>