{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>DOLC 2019 - About - Team</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/about-team-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/about-team-script.js'%}"></script>
</head>
<body>
	<nav class="l-nav--main-page">
		{% include 'reusable-pages/navbar.html' %}
	</nav>
	<section class="l-page js-animation">
        <div class="l-front-section l-col--center js-front-section js-animation">
			<div class="c-front-section__logo l-image--default js-front-section__logo js-animation"></div>
		</div>
		<div class="l-team-section l-col--center">
			<div class="js-team-section__title js-animation">
				<h1 class="c-team-section__title">
					<div class="c-team-section__line-art js-team-section__line-art js-animation js-animation-delay--0"></div>
					THE TEAM
				</h1>
			</div>
			<div class="l-team-section__team l-col--center">
				<div class="c-circle-art--0 c-team-section__circle-art--top js-circle-art--0 js-animation">
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
				</div>
				<div class="c-team-section__image js-team-section__image js-animation"></div>
				<div class="c-circle-art--0 c-team-section__circle-art--bottom js-circle-art--0 js-animation">
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
					<div class="c-circle--medium"></div>
				</div>
			</div>
		</div>
		<div class="l-contact-section">
			{% include 'reusable-pages/contact.html' %}
		</div>
    </section>
</body>
</html>