{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>IELTS Form</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
		<link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/form-script.js'%}"></script>
		</head>
	<body>
		<nav class="l-nav--main-page">
			{% include 'reusable-pages/navbar.html' %}
		</nav>
		<div class="c-wall js-wall js-animation">
			<div class="c-date-place__icon l-image--default c-wall__close-icon"></div>
		</div>
		<div class="l-popup-section js-popup-section js-animation">
			<div class="l-popup-section__popup l-col--center">
				<div class="l-popup-section__content l-col--center">
				</div>
			</div>
		</div>
		<section class="l-page js-animation">
			<div class="l-form-section">
                <div class="js-form-section__title js-animation">
                    <h1 class="c-form-section__title">
                        <div class="c-form-section__line-art js-form-section__line-art js-animation js-animation-delay--0"></div>
                        IELTS FORM
                    </h1>
                </div>
				<div class="l-form-section__form-con js-form-section__form-con js-animation">
					<div class="l-form-section__image l-image--default"></div>
					<form class="l-form-section__form l-col--center" data-sheet="IELTS" onsubmit="return false">
						<p class="c-form-section__message">
							IELTS Projection Test DOLC 2018 terbuka untuk umum dan akan dilaksanakan pada hari Jumat, 23 Februari 2017 pada pukul 10.30-12.00 WIB dilanjutkan pukul 13.00-15.00 WIB di FHUI, Depok
							Untuk info atau pertanyaan lebih lanjut dapat menghubungi Geraldine Ghea di LINE ID: geraldineghea atau nomor HP/WhatsApp: 08170299898
						</p>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Name*</label>
							<input type="text" name="Nama" data-type="input" placeholder="Name" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Phone Number*</label>
							<input type="text" data-format="number" name="Nomor HP" data-type="input" placeholder="Phone number" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Email*</label>
							<input type="email" name="Email" data-type="input" placeholder="Email" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Institute*</label>
							<input type="text" name="Institusi" data-type="input" placeholder="Institute" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Domicile*</label>
							<input type="text" name="Domisili" data-type="input" placeholder="Domicile" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">LINE ID*</label>
							<input type="text" name="LINE ID" data-type="input" placeholder="LINE ID" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<p class="l-form-section__input c-form-section__message">
							Peserta diwajibkan membayar biaya registrasi sebesar Rp150.000,00 via Bank Transfer ke Bank BCA 094 8151 319 a.n. Iva Diamantina 2x24 jam setelah form diisi. Lalu, kirimkan bukti pembayaran dan soft copy tanda pengenal (KTP/KTM/SIM) Anda ke acara.dolcfhui@gmail.com 
						</p>
						<div class="l-form-section__input l-row--left">
							<div class="l-checkbox">
								<input type="checkbox" data-type="input" required/>
								<div class="c-checkbox__checkmark"></div>
							</div>
							<p class="c-checkbox-message">
								Saya mengerti bahwa saya mengisi formulir ini dengan benar demi pemenuhan proses registrasi 
							</p>
						</div>
						<div class="l-form-section__input">
							<input type="submit" value="Submit"/>
							<div class="c-register-button-art"></div>
							<div class="c-border"></div>
						</div>
						<p class="l-form-section__input c-form-section__message">
							Please fill out the form correctly
						</p>
					</form>
				</div>
			</div>
			<div class="l-contact-section">
				{% include 'reusable-pages/contact.html' %}
			</div>
		</section>
	</body>
</html>