{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>DOLC 2019 - Registration</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
		<link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/registration-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/registration-script.js'%}"></script>
		</head>
	<body>
		<nav class="l-nav--main-page">
			{% include 'reusable-pages/navbar.html' %}
		</nav>
		<section class="l-page js-animation">
			<div class="l-regis-section">
				<div class="js-regis-section__title js-animation">
					<h1 class="c-regis-section__title">
						<div class="c-regis-section__line-art js-regis-section__line-art js-animation js-animation-delay--0"></div>
						REGISTRATION
					</h1>
				</div>
				<div class="l-regis-section__event-con js-regis-section__event-con js-animation" id="workshop">
					<div id="c-regis-section__workshop-image" class="c-regis-section__image l-image--default l-col--center">
						<div class="h-regis-section__event-type">
							<h2 class="c-regis-section__event-type">
								Workshop
							</h2>
						</div>
					</div>
					<div class="l-regis-section__events l-col--left">
						<div class="c-countdown-timer l-col--center">
							<div class="c-countdown-timer__head l-col--center">
								<div class="js-regis-section__name js-animation">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="l-regis-section__event-con js-regis-section__event-con js-animation" id="etc">
					<div id="c-regis-section__test-image" class="c-regis-section__image l-image--default l-col--center">
						<div class="h-regis-section__event-type">
							<h2 class="c-regis-section__event-type">
							</h2>
						</div>
					</div>
					<div class="l-regis-section__events l-col--left">
						
					</div>
				</div>
				<div class="l-regis-section__event-con js-regis-section__event-con js-animation" id="talkshow">
					<div id="c-regis-section__talkshow-image" class="c-regis-section__image l-image--default l-col--center">
						<div class="h-regis-section__event-type">
							<h2 class="c-regis-section__event-type">
								Talkshow
							</h2>
						</div>
					</div>
					<div class="l-regis-section__events l-col--left">
						<div class="c-countdown-timer l-col--center">
							<div class="c-countdown-timer__head l-col--center">
								<div class="js-regis-section__name js-animation">
									<h3 class="c-regis-section__name">
										COMING SOON
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-contact-section">
				{% include 'reusable-pages/contact.html' %}
			</div>
		</section>
	</body>
</html>