{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Workshop: "Transformation of Legal Profession" Form</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/main-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/form-script.js'%}"></script>
	</head>
	<body>
		<nav class="l-nav--main-page">
			{% include 'reusable-pages/navbar.html' %}
		</nav>
		<div class="c-wall js-wall js-animation">
			<div class="c-date-place__icon l-image--default c-wall__close-icon"></div>
		</div>
		<div class="l-popup-section js-popup-section js-animation">
			<div class="l-popup-section__popup l-col--center">
				<div class="l-popup-section__content l-col--center">
				</div>
			</div>
		</div>
		<section class="l-page js-animation">
			<div class="l-form-section">
                <div class="js-form-section__title js-animation">
                    <h1 class="c-form-section__title">
                        <div class="c-form-section__line-art js-form-section__line-art js-animation js-animation-delay--0"></div>
                        WORKSHOP: "TRANSFORMATION OF LEGAL PROFESSION" FORM
                    </h1>
                </div>
				<div class="l-form-section__form-con js-form-section__form-con js-animation">
					<div class="l-form-section__image l-image--default"></div>
					<form class="l-form-section__form l-col--center" data-sheet='Workshop: "Transformation of Legal Profession"' onsubmit="return false">
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">First Name*</label>
							<input type="text" name="Nama Awal" data-type="input" placeholder="First Name" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
                        </div>
                        <div class="l-form-section__input">
							<label class="c-form-section__input-label">Last Name*</label>
							<input type="text" name="Nama Akhir" data-type="input" placeholder="Last Name" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Phone Number*</label>
							<input type="text" data-format="number" name="Nomor HP" data-type="input" placeholder="Phone number" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input">
							<label class="c-form-section__input-label">Email*</label>
							<input type="email" name="Email" data-type="input" placeholder="Email" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
                        </div>
                        <div class="l-form-section__input">
							<label class="c-form-section__input-label">Semester*</label>
							<input type="text" data-format="number" name="Semester" maxlength="2" data-type="input" placeholder="Semester" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
                        </div>
                        <div class="l-form-section__input">
							<label class="c-form-section__input-label">GPA*</label>
							<input type="text" data-format="number" name="IPK" data-type="input" placeholder="GPA" required/>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
                        </div>
                        <div class="l-form-section__input">
							<label class="c-form-section__input-label">Experience (Past or Ongoing)</label>
							<textarea spellcheck="false" name="Pengalaman" data-type="input" placeholder="Experience (Past or Ongoing)"></textarea>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
                        </div>
                        <div class="l-form-section__input">
							<label class="c-form-section__input-label">Organizational Activities (Past or Ongoing)</label>
							<textarea spellcheck="false" name="Kegiatan Organisasi" data-type="input" placeholder="Organizational Activities (Past or Ongoing)"></textarea>
							<div class="c-rectangle-art js-animation"></div>
							<div class="c-line-art js-animation"></div>
						</div>
						<div class="l-form-section__input l-row--left">
							<div class="l-checkbox">
								<input type="checkbox" data-type="input" required/>
								<div class="c-checkbox__checkmark"></div>
							</div>
							<p class="c-checkbox-message">
								Saya mengerti bahwa saya mengisi formulir ini dengan benar demi pemenuhan proses registrasi 
							</p>
						</div>
						<div class="l-form-section__input">
							<input type="submit" value="Submit"/>
							<div class="c-register-button-art"></div>
							<div class="c-border"></div>
						</div>
						<p class="l-form-section__input c-form-section__message">
							Please fill out the form correctly
						</p>
					</form>
				</div>
			</div>
			<div class="l-contact-section">
				{% include 'reusable-pages/contact.html' %}
			</div>
		</section>
	</body>
</html>