{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<title>DOLC 2019 - Events</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/media/icons/favicon.ico" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css/main-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/events-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/navbar-script.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/events-script.js'%}"></script>
</head>
<body>
	<nav class="l-nav--main-page">
		{% include 'reusable-pages/navbar.html' %}
	</nav>
	<div class="c-wall js-wall js-animation">
		<div class="c-date-place__icon l-image--default c-wall__close-icon"></div>
	</div>
	<div class="l-popup-section js-popup-section js-animation">
		<div class="l-popup-section__popup">
			<div class="l-popup-section__picture">
				<div class="c-popup-section__image l-image--default"></div>
			</div>
			<div class="l-popup-section__content">
				<!-- <div class="c-popup-content__blur-eft--top"></div>
				<div class="c-popup-content__blur-eft--bot"></div> -->
				<h2 class="c-popup-section__title"></h2>
				<div class="l-popup-section__detail">
					<p class="c-popup-section__para"></p>
					<div class="l-popup-section__date-place">
						<div class="l-date-place__place l-row--center">
							<div class="l-date-place__icon l-image--default c-place__place-icon"></div>
							<div class="c-place__content"></div>
						</div>
						<div class="l-date-place__date l-row--center">
							<div class="l-date-place__icon l-image--default c-date__date-icon"></div>
							<div class="c-date__content"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="l-page js-animation">
		<div class="l-event-section l-col--center">
			<div class="js-event-section__title js-animation">
				<h1 class="c-event-section__title">
					<div class="c-event-section__line-art js-event-section__line-art js-animation js-animation-delay--0"></div>
					EVENTS
				</h1>
			</div>
			<div class="l-event-section__event l-col--center">
			</div>
		</div>
        <div class="l-contact-section">
			{% include 'reusable-pages/contact.html' %}
		</div>
    </section>
</body>
</html>